  .aa{
					  
					        width:130px;
                            height:40px;						   
						    //color:#FFF5F3;
							
							//margin:: 0px 21px 27px 215px;
							margin-top:0px;
							margin-bottom:0px;
							margin-left:50px;
							margin-right:0px;
							
							
							 border-radius:30px;
                            
                           background-color:#F35050;
						    border: none;
						   cursor:pointer;
				            
				  
				  }
				  
				  .bb{
					    margin-top:34px;
							margin-bottom:0px;
							margin-left:244px;
							margin-right:0px;
							
					      
					        width:130px;
                            height:40px;					   
						    //color:#FFF5F3;
							//margin:0px 0px 12px 57px;
							 border-radius:30px;
                             border: none;
                             //background-color:#F35050;
                             //width: 100%;
  background: #4082f5;
  text-transform: uppercase;
 // padding: 12px;
  cursor: pointer;
  box-shadow: 0px 10px 40px 0px rgba(17, 97, 237, 0.4);
  font-weight: 700;
  font-size: 14px;		    
				  
				  }