


.sidenav a.active {
  background-color: red;
  color: white;
}


.sidenav {
  height: 170%;
  width: 246px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C14246;
  overflow-x: hidden;
  padding-top: 0px;
  margin-top:55px;
  font-weight:600;
}


.sidenav a, .dropdown-btn {
  padding: 24px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #D9D9D9;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family:Open Sans, sans-serif;
 
}



/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color:#574240;
}


.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.top {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-top: 0px;
  overflow: hidden;
  background-color:#E56262;
  position:absolute;
  width: 1500px;
  height: 55px;
}



.top li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: 500;
  font-style: italic;
  font-family:Open Sans, sans-serif;
}


.logo-massaviu {
  position: absolute;
  padding-left: 0px;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  width: 198px;
  padding-top:9px;
  padding-left:6px;
  margin-top: 10px;
}

.top-right
{
   display: flex; 
 margin-top:1px;
 margin-left:500px;
}
.name{
display: flex;
 margin-bottom:-10px;
cursor: pointer;
}

.person{
   cursor: pointer;
}

.notification{
  cursor: pointer;
}


.dropdown{
   cursor: pointer;
}

.dropdown:hover{
  color: black;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #C14246;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f5646c}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

body {
  background-repeat: no-repeat;
  background-position:top;
  
  
}

.b1 {
  background-color: red;
  color: white;
  border: 6px solid red;
border-radius: 15px;
width: 100px
}
a{
  text-decoration:none;
  color: white;
}
