


.sidenav a.active {
  background-color: red;
  color: white;
}


.sidenav {
  height: 550%;
  width: 246px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C14246;
  overflow-x: hidden;
  padding-top: 0px;
  margin-top:55.6px;
  font-weight:600;
}


.sidenav a, .dropdown-btn {
  padding: 24px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #D9D9D9;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family:Open Sans, sans-serif;
 
}


/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color:#574240;
}


.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.top {
  list-style-type: none;
  margin-top: -100px;
  margin-left: -10px;
  padding: 0px;
  overflow: hidden;
  background-color:#E56262;
  position: fixed;
  width: 1500px;
  height: 55px;
}



.top li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: 500;
  font-style: italic;
  font-family:Open Sans, sans-serif;
}


.logo-massaviu {
  position: fixed;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  width: 198px;
  margin-top:-90px;
  margin-left:0px;
}


.top-right
{
    display: flex;
 margin-bottom:1px;
 margin-left:500px;
}
.name{
display: flex;
 margin-bottom:-10px;
cursor: pointer;
}

.person{
   cursor: pointer;
}

.notification{
  cursor: pointer;
}


.dropdown{
   cursor: pointer;
}

.dropdown:hover{
  color: black;
}

.dropdown-content {
  display: none;
  position: fixed ;
  background-color: #C14246;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: #f5646c}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}




.title{
  font-size: 22px;
  font-weight: 700;
  margin-top: 100px;
  margin-left:650px;
  color: #000000;
  
}


.visible{
cursor: pointer;
}
	


